:root {
  --primary-color: #1FBDDC;
  --secondary-color: #1F44DB;
  --dark-color: #1F81DB;
  --shadow-color: #BEDBD6;
}

#root {
  min-width: 250px;
  min-height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.25px solid var(--shadow-color);
}

body {
  margin: 0;
}